<p><img src="http://www.gravatar.com/avatar/860220301a35cac852f4edf53a8923ac.png" alt="Paul Retherford" title="Follow me on Twitter @paulretherford"  class="img-rounded floatLeft" />			
I'm an entrepreneur working with great people using distributed technology. I enjoy sailing and XC skiing with my family and everything soccer.</p>					
<p>Managing Director - ScanPower</p>
<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=pretherford&repo=pretherford.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=pretherford&repo=pretherford.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/paulretherford" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @paulretherford</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/pretherford" rel="me" class="social github" title="Go to github.com/pretherford" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/in/paulretherford" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/paulretherford" rel="me" class="social twitter" title="Go to twitter.com/paulretherford" target="_blank"></a></li>
	  <li><a href="https://github.com/pretherford/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Paul"  target="_blank"></a></li>				
	</ul>
</p>
